<div id="all-profiles">
	
	<% @users.each do |user| %>
	
				<div class="profile-view">
					<div class="span1">
						<img src="<%= user.image %>"><br/><br/>
					</div>
					<div class="span11 pull-left">	
						NAME: <%= user.name %> <span class="label label-info"><%= pluralize(no_of_mails(user), "mail") %></span><br/>
						<% if user.location != nil %>
							(From: <%= user.location %>)<br/>
						<% end %>
						Gender: <%= user.gender %><br/><br/>
						<%= link_to user_path(user) do %>		
							<div class="btn btn-primary">
								SEND ME A MAIL!
							</div><br/><br/>
						<% end %>
					</div>
					<div class="clearfix"></div>				
				</div>
		
	<% end %>	


</div>

<%= will_paginate @users, :renderer => BootstrapPagination::Rails %>