<div id="single-profile">
	<div class="well well-large">
		Mail me profile of : <%= @user.name %><br/>

		<img src="<%= @user.image %>"><br/>
		<%= @user.name %><br/>
		<%= @user.first_name %> <%= @user.last_name %><br/>
		<a href="<%= @user.urls %>">Facebook_profile</a> <br/>
		<%= @user.location %><br/>
		<%= @user.verified %><br/>
		<%= @user.gender %>
	</div>	

	<% if current_user == @user %>
		<span class="label">MAIL-BOX: (<%= no_of_mails(current_user) %>)</span><br/><br/>
		<div class="accordion" id="accordion2">
			<% i = 0 %>
			<% @mailmemails.each do |mailmemail| %>
				<div class="accordion-group">
					<div class="accordion-heading row-fluid"><div class="span12">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= i %>">
							<% if mailmemail.bang == true %>
								<span class="label label-success">From: <%= mailmemail.user.name %></span><span class="icon-chevron-down pull-right"></span>
							<% else %>
							 	<span class="muted">From a Mail-me <%= mailmemail.user.gender %> user!</span><span class="icon-chevron-down pull-right"></span><br/>
							<% end %> 
							Subject: <%=  mailmemail.subject %> <span class="pull-right"><%= mailmemail.created_at%> (<%= time_ago_in_words(mailmemail.created_at) %> ago)</span>
						</a></div>
					</div>
					<div id="collapse<%= i %>" class="accordion-body collapse row-fluid">
						<div class="accordion-inner span12">	
							<%= mailmemail.content %>
							<% if mailmemail.bang == true %>
								<br/><br/>
								<div class="alert alert-block">
									Sender detail:<br/>
									<img src="<%= mailmemail.user.image %>"><br/>
									FACEBOOK PROFILE: <%= link_to mailmemail.user.urls, mailmemail.user.urls %><br/>
									EMAIL: <%= mailmemail.user.email %><br/>
									<% if mailmemail.user.location != nil %>
										LOCATION: <%= mailmemail.user.location %>
									<% end %>	
								</div>	
								
							<% end %>
						</div><!--end accordian-inner-->
					</div><!--end collapseOne-->		
				</div><!--end accordion-group-->
				<% i = i + 1 %>
			<% end %>
		</div><!--end accordion-->
	<% end %>

	Mail me:<br/>
	<% if current_user %>	
		<%= form_for [@user, @mailmemail] do |f| %>
			<% if @mailmemail.errors.any? %>
				<div class="alert alert-error">
					<%= @mailmemail.errors.full_messages.join("<br/>").html_safe %>
				</div>
			<% end %>

			<%= f.text_field :subject, class: "span4", placeholder: "What is it about..." %><br/>
			<%= f.text_area :content, class: "span4", rows: 5, placeholder: "Pamper me and wait for the MAILME-BANG!" %><br/>
			<%= f.submit "Send mail!" %>
		<% end %>
	<% else %>
		<%= link_to "Sign in with Facebook to MaIlMe & get BaNgEd", "/auth/facebook" %>
	<% end %>	

</div>	





 <div data-toggle="collapse" data-target="#demo">
    <a href="#demo">simple collapsible</a>
    </div>
     
    <div id="demo" class="collapse in"> fldanfaklf
    	fafa
    	fa
    	fa

    	f
    	af
    	ga
    </div>

    <div data-toggle="collapse" data-target="#demo1">
    	<a href="#demo1">simple collapsible</a>
    </div>
     
    <div id="demo1" class="collapse"> fldanfaklf
    	fafa
    	fa
    	fa

    	f
    	af
    	ga
    </div>